body {
  background-image: url("../public/assets/nuvole.jpg");
  background-size: cover;
  background-repeat: repeat;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#root main {
  flex-grow: 1;
}

/*News*/
.newsCard {
  justify-content: space-between;
  box-shadow: 0 4px 8px rgbs(0, 0, 0, 0.1);
  overflow: hodden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.newsCard :hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.newsCard .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.newsImage {
  height: 250px;
  object-fit: cover;
  width: 100%;
}
.newsImage:hover {
  transform: translateY(-5px);
}

.newsDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsCard a {
  text-decoration: none;
}

/* Btn pages*/
.pageButton {
  background-color: rgb(3, 3, 81) !important;
  transition: transform 0.3s ease;
}
.pageButton:hover {
  transform: scale(1.1);
}
